width : 1600
height : 1200
framerate : 30
auto_exposure : manual
iso_sensitivity_auto : auto
exposure_time_absolute : 10
iso_sensitivity : 1
white_balance_auto_preset : daylight
#red_balance : 1000
#blue_balance : 1000


#iso sens auto, auto = manual, manual = auto
#blue balance and red balance only needed if white balance auto preset to manual
